@media screen and (max-width: 1200px) {
  .header {
    padding: 15px 20px 5px;
    background: #ffffff;
    display: flex;
    justify-content: center;
  }
  .srchBar {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 20px;
    position: relative;
  }

  .header .menu {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
  }

  .srchBar p input {
    border: none;
    padding: 8px 20px;
    min-width: 300px;
    border-radius: 4px 0 0 4px;
  }

  .nav {
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.35);
    display: flex;
    justify-content: center;
  }

  .lyrLft {
    width: 300px;
    padding: 40px 0 0px 0;
    text-align: center;
  }
  .pad20.pall {
    padding: 0px !important;
  }

  .pad30.pall {
    padding: 20px !important;
  }
  .main {
    width: 1000px;
    margin: 0 auto;
    display: flex;
  }

  .usp a {
    margin: 0 10px;
  }

  .usp a:last-child {
    margin: auto;
  }

  .pCard {
    padding: 15px;
    border: 1px solid #dcdada;
    border-radius: 4px;
    margin: 0 9px 0 0;
  }

  /* .pad0.pall {
    padding-left: 0;
  } */

  .main_ctnr {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0%;
    width: 1100px;
  }

  .list {
    display: flex;
    justify-content: center;
  }

  .ourProd {
    margin: 0 10px 20px 10px;
  }

  .main {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .pad20.pall {
    padding: 0px !important;
    display: block;
  }
  .mar150.mleft {
    margin-left: 20px !important;
  }
}

@media screen and (max-width: 1100px) {
  .header .menu a {
    padding: 0 10px;
  }

  .main {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  .usp a {
    margin: 0 10px;
    padding: 10px 100px;
  }
  .usp a:last-child {
    margin: 0 10px;
  }

  .main_ctnr {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0%;
    width: 700px;
    /* background: red; */
  }
  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .pCard {
    padding: 20px;
    border: 1px solid #dcdada;
    border-radius: 4px;
    margin: 10px 30px 0;
  }
  .pCard:last-child {
    margin: 10px 30px 0;
  }
  .pCard a {
    display: block;
    margin: 30px 10px;
  }

  .blg_cmpnt p {
    margin: 10px 20px;
  }

  .mar30.mright {
    margin-right: 30px !important;
    width: 240px;
    /* background: red; */
    margin-bottom: 20px;
  }
  .mar20.mright {
    /* margin-right: 20px !important; */
    width: 240px;
    /* background: red; */
    margin-left: 30px;
  }
  .bigTag {
    margin: 0 15px 10px 0;
  }
}
