@media screen and (max-width: 720px) {
  #categorytop {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    height: auto;
    overflow-x: auto;
  }
  a.logo {
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    height: 30px;
    background: url(../images/zappfresh-logo.png) no-repeat center center;
    margin: 0 10px 0 17px;
    background-size: auto 26px;
  }
  .searchWrp {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 2px;
    margin-right: 25px !important;
  }

  .nav li {
    display: inline-block;
    vertical-align: middle;
    width: 183px;
    flex: 0 0 auto;
  }

  .main {
    width: 400px !important;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .usp a {
    margin: 0 10px;
    padding: 15px 69px !important;
  }

  .main_ctnr {
    margin: 50px auto !important;
    padding-right: 0;
    padding-left: 0%;
    width: 400px !important;
  }
  .media {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
  }

  .media a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 !important;
  }

  .nav {
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.35);
    display: flex;
    justify-content: flex-start !important;
  }
  .pCard h2 {
    font-size: 20px;
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .srchBar {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 20px;
    position: relative;
    order: 3;
    width: 100%;
    margin-top: 13px;
  }
  .srchBar p input {
    border: none;
    min-width: calc(100% - 85px) !important;
  }
  .pCard h2 {
    font-size: 20px;
    margin: 0;
  }

  .main {
    width: 300px !important;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .main_ctnr {
    margin: 50px auto !important;
    padding-right: 0;
    padding-left: 0%;
    width: 300px !important;
  }
  .usp a {
    margin: 0 10px;
    padding: 15px 20px !important;
  }
}
